.contact {
  padding-bottom: 2rem;
}
.contact h2 {
  padding: 2rem 0;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  background: linear-gradient(to right, #cc2b5e, rgba(24, 0, 80, 0.89));
  -webkit-text-fill-color: transparent;
}
.contact p {
  font-size: 1.2rem;
  color: var(--dark);
}
.contact .icons {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}
.contact a {
  margin: auto 2rem;
}
.contact img {
  height: 40px;
}
@media only screen and (max-width: 600px) {
  .contact a {
    margin: 1rem;
  }
}

.contact .form {
  justify-content: space-between;
  margin: 3rem 0;
}

.contact .message {
  text-align: center;
}